body {
  padding-top: 56px;
  background-color: rgba(143, 207, 212, 0.5);
  color: rgb(52, 58, 64);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}

.card {
  display: inline-block;
  margin: 0 0.5rem 0 0.5rem;
}

.word-points, .word-body {
  text-align: center;
}

.start-game {
  align: center;
}

[id$="-container"], form {
  margin: 1rem 0 1rem 0;
}

#timer {
  width: 5rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  font-size: 1.25rem;
  height: 2rem;
}

.red {
  color: red;
}

.move-back {
  opacity: 0.5;
}

.flash-red {
  background-color: rgb(255, 96, 112);
}

.flash-orange {
  background-color: rgb(255, 122, 73);
}
